@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="2">
        <a class="logo ml-3">
            <span class="logo-left">Inventory</span><span class="logo-right">App</span>
        </a>
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="4">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer Fixed="true">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#c7e571",
            Secondary = Colors.Green.Accent4,
            AppbarBackground = "#424242",
            DrawerBackground = "rgb(87,87,87)",
            DrawerText = "#FFF",
            DrawerIcon = "#FFF",
        }
    };

}