@page "/"
<MudPaper Class="pa-2 mt-4">
    <MudText Typo="Typo.h5"><b>Спасибо, что пользуетесь InventoryApp!</b></MudText>
    <MudDivider Class="my-2" />
    <MudText Typo="Typo.subtitle2">Мы работаем, чтобы вы могли работать меньше.</MudText>
</MudPaper>

<div class="scroller">
    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h6" GutterBottom="true">Изменения в версии 2.0.0:</MudText>
            <MudPaper Width="100%">
                <MudList Dense="true">
                    <MudListItem Text="1. Новый дизайн и архитектура приложения" />
                    <MudListItem Text="2. Новый тип оборудования - кабели" />
                    <MudListItem Text="3. Авторизация вынесена во внешние сервисы" />
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.h6" GutterBottom="true">Изменения в версии 1.0.4:</MudText>
            <MudPaper Width="100%">
                <MudList Dense="true">
                    <MudListItem Text="1. Исправлена ошибка при которой не работала кнопка Enter на форме авторизации" />
                    <MudListItem Text="2. В строке фильтрации оборудования можно использовать ключевое слово /Use, при котором отображается только используемое сотрудниками оборудование" />
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.h6" GutterBottom="true">Изменения в версии 1.0.3:</MudText>
            <MudPaper Width="100%">
                <MudList Dense="true">
                    <MudListItem Text="1. Изменен порядок столбцов в таблицах оборудования" />
                    <MudListItem Text="2. Исправлена ошибка при фильтрации списка сотрудников при выдаче оборудования" />
                    <MudListItem Text="3. Исправлена ошибка отображения в истории выданного оборудования" />
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.h6" GutterBottom="true">Изменения в версии 1.0.2:</MudText>
            <MudPaper Width="100%">
                <MudList Dense="true">
                    <MudListItem Text="1. Добавлена функция распечатки списка оборудования или сотрудников" />
                    <MudListItem Text="2. Добавлен столбец с порядковым номером строки таблицы" />
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.h6" GutterBottom="true">Изменения в версии 1.0.1:</MudText>
            <MudPaper Width="100%">
                <MudList Dense="true">
                    <MudListItem Text="1. Изменен механизм поиска. Теперь фильтрация происходит без перезагрузки страницы" />
                    <MudListItem Text="2. Добавлена функционал сортировки таблиц" />
                    <MudListItem Text="3. Исправлена ошибка редактирования, если она производилась из результатов поиска" />
                    <MudListItem Text="4. Изменения в модальных окнах выбора оборудования" />
                    <MudListItem Text="5. Изменен внешний вид скроллера" />
                    <MudListItem Text="6. Исправлены мелкие ошибки" />
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>
