@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: #C7E5BF;
}

/*---- Скроллер ----*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
}

.scroller {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    padding-right: 10px;
    margin-top: 40px;
}

.vh-100 {
    height: 100vh !important;
}
.vh-90 {
    height: 90vh !important;
}

/*--- экран начальной загрузки ---*/
.bg-loading {
    background-color: rgb(87,87,87);
}
.loading {
    color: #c7e571;
    padding: 1.5rem;
    font-family: Roboto;
    font-size: 2rem;
}
.spinner {
    border: 6px solid darkgrey;
    border-top: 6px solid #c7e571;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/*--- Mudblazor's classes color settings ---*/
.mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
    border-color: rgb(12,131,226) !important;
}
.mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    color: rgb(12,131,226) !important;
}
.mud-input.mud-input-underline:after {
    border-bottom: 2px solid rgb(12,131,226);
}

.mud-simple-table.mud-table-sticky-header .mud-table-container {
    height: 100%;
}